.contacts {
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 0px;
    top: 4682px;
    background: url(../assets/images/contacts/contacts.svg);
}
.email {
    position: absolute;
    width: 446px;
    height: 46px;
    left: 970px;
    top: 180px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;  
    background: none; 
    margin: 0px;
    padding: 0px;
    border: 2px solid #BDAE82;
}
.phone {
    position: absolute;
    width: 446px;
    height: 46px;
    left: 67.36%;
    right: 1.39%;
    top: 250px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;  
    background: none; 
    margin: 0px;
    padding: 0px;
    border: 2px solid #BDAE82;
}
.message {
    position: absolute;
    width: 446px;
    height: 96px;
    left: 67.36%;
    right: 1.39%;
    top: 320px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;  
    background: none; 
    margin: 0px;
    padding: 0px;
    border: 2px solid #BDAE82;
}