.footer {
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 5382px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: #fff;    
}
.footer-data {
    position: absolute;
    height: 50px;
    left: 1.39%;
    right: 85.97%;
    top: calc(50% - 50px/2);
}
.footer-course-name {
    position: absolute;
    height: 50px;
    left: 42.71%;
    right: 42.64%;
    top: calc(50% - 50px/2);
}
.social-links {
    position: absolute;
    width: 188px;
    height: 50px;
    left: 1232px;
    top: 50px;
}
.instagram {
    background-image: url(/portfolio/assets/images/social_links/1inst.svg);
    width: 32px;
    height: 32px;
    left: 0px;
}
.instagram:hover {
    background-image: url(/portfolio/assets/images/social_links/2inst.svg);
}
.facebook {
    background-image: url(/portfolio/assets/images/social_links/1fb.svg);
    width: 32px;
    height: 32px;
}
.facebook:hover {
    background-image: url(/portfolio/assets/images/social_links/2fb.svg);
}
.twitter {
    background-image: url(/portfolio/assets/images/social_links/1tw.svg);
    width: 32px;
    height: 32px;
}
.twitter:hover {
    background-image: url(/portfolio/assets/images/social_links/2tw.svg);
}
.pinterest {
    background-image: url(/portfolio/assets/images/social_links/1pinterest.svg);
    width: 32px;
    height: 32px;
}
.pinterest:hover {
    background-image: url(/portfolio/assets/images/social_links/2pinterest.svg);
}