html {
    position: relative;
    scroll-behavior: smooth;
    width: 1440px;
    height: 5532px;
    background: #000;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    width: 1440px;
    height: 1880px;
    position: static;
    left: 20px;
    top: 20px;
    background: url(assets/images/fon/bg.png);
}
.hero {
    position: absolute;
    height: 330px;
    left: 5.56%;
    right: 59.72%;
    top: 250px;
}
.hero-text {
    position: absolute;
    height: 120px;
    left: 0%;
    right: 6%;
    top: 130px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: rgba(255, 255, 255, 1);
}
.button {
    position: absolute;
    height: 55px;
    left: 0%;
    right: 56%;
    top: 275px;
    background: #BDAE82;
    color: #000;
    width: 220px;
    height: 55px;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
}
.button:hover {
    color: #fff;
}
h1 {
    height: 120px;
    left: 0%;
    right: 0%;
    top: 2px;
    color: rgba(255, 255, 255, 1);
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    margin: 0px;
    letter-spacing: 3px;
} 
h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    margin: 0px;
}
h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color:#FFFFFF;
}
h4 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}